:root {
  --brand-primary: var(--primary);
}

body {
  color: var(--text-body);
}

.hljs {
  font-size: var(--text-xs);
}

.hljs-attr {
  color: #d19a66;
}

.hljs-template-variable {
  color: #56b6c2;
}

.hljs-built_in {
  color: #c678dd;
}

.docs-md :not(pre)>code {
  background-color: var(--warning-opacity-4);
  border-radius: var(--rounded-sm);
  font-family: var(--font-monospace);
  font-size: var(--text-sm);
}

.docs-md {
  & table {
    font-family: var(--font-monospace);
    font-size: var(--text-xs);
    width: 100%;

    & tr {
      &:nth-of-type(even) {
        background-color: #f8f8f8;
      }
    }

    & td,
    & th {
      border: 1px solid #ddd;
      padding: var(--spacing-1) var(--spacing-3);
      text-align: left;
      word-break: keep-all;
    }
  }

  & ul {
    font-size: var(--text-sm);
    list-style: disc;
    padding-left: var(--spacing-6);
  }
}