.Loader__spin {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
